<html>
<head>
    <meta charset="utf-8" />
    <title>Asteroides</title>
    <script src="cliente/lib/phaser.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="lib/jquery.cookie.js"></script>
    <script src="cliente/src/asteroides.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="cliente/src/cliente.js"></script>
    <script src="cliente/src/ini.js"></script>  
</head>
<body>
</body>
</html>
